<h1>Am I working for GitHub?</h1>
<form action="working" method="post">
  <label for="handle">Your GitHub Handle:</label>
  <input name="handle" id="handle" type="text" />
  <input name="submit" type="submit" value="Find Out!" />
</form>
