<!DOCTYPE html>
<html>
  <head>
    <title>Am I working for GitHub now?</title>
    <link rel="stylesheet" type="text/css" href="/application.css" />
  </head>
  <body>
    <%= yield %>
    <p class="footer">
    Lovingly made by <a href="http://mashion.net">Mashion</a> and <a href="http://thoughtmerchants.com">ThoughtMerchants</a>. Source on <a href="https://github.com/trotter/amiworkingforgithubnow.com">GitHub</a>.
    </p>
  </body>
</html>
