<!DOCTYPE html>
<html>
  <head>
    <title>Am I not working for GitHub now?</title>
    <link rel="stylesheet" type="text/css" href="/application.css" />
  </head>
  <body>
    <%= yield %>
    <p class="footer">
    Lovingly made by Zac Bowling. Based on some guy's <a href="http://amiworkingforgithubnew.com/">site</a>. Source on <a href="https://github.com/zbowling/amiworkingforgithubnow.com">GitHub</a>.
    </p>

    <script type="text/javascript">
      //var _gaq = _gaq || [];
      //_gaq.push(['_setAccount', 'UA-21330771-1']);
      //_gaq.push(['_trackPageview']);

      //(function() {
      //  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      //  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      //  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //})();
    </script>
  </body>
</html>
